doc/Outros/SerieEstudos_57.pdf
doc/Outros/SerieEstudos_50.pdf
doc/Outros/SerieEstudos_49.pdf
doc/Censo 1970/1970_TodosLugares.pdf
doc/Censo 1970/1970_EstimativaHabitação.pdf
doc/Censo 1970/1970_Dados preliminares.pdf
doc/Censo 1970/1970_Actividades e profissões.pdf
doc/Censo 1970/1970_2ºvol_Estimativa.pdf
doc/Censo 1970/1970_1ºvol_Estimativa.pdf
doc/Censo 1960/Tomo5_3vol.zip
doc/Censo 1960/Tomo 6.pdf
doc/Censo 1960/Tomo 4.pdf
doc/Censo 1960/Tomo 3 vol 1.pdf
doc/Censo 1960/Tomo 2.pdf
doc/Censo 1960/Tomo 1 vol 2_1ª parte_Lisboa_Ilhas.pdf
doc/Censo 1960/Tomo 1 vol 2_1ª parte_Aveiro_Leiria.pdf
doc/Censo 1960/Tomo 1 vol 1.pdf
doc/Censo 1960/Resultados prováveis.pdf
doc/Censo 1960/Resultados provisórios.pdf
doc/Censo 1960/Anexo_Inventário de prédios e fogos.pdf
doc/Anuarios/ED_1975.pdf
doc/Anuarios/ED_1974.pdf
doc/Anuarios/ED_1973.pdf
doc/Anuarios/ED_1972.pdf
doc/Anuarios/ED_1971.pdf
doc/Anuarios/ED_1970.pdf
doc/Anuarios/ED_1969.pdf
doc/Anuarios/AEU_1960.pdf
doc/Anuarios/AEP_1975.pdf
doc/Anuarios/AEP_1970_vol II.pdf
doc/Anuarios/AEP_1970_Vol I.pdf
doc/Anuarios/AEP_1961_vol II.pdf
doc/Anuarios/AEP_1961_Vol I.pdf
deprecated/temp.RData
deprecated/rascunho.R
deprecated/other_data.R
deprecated/links_toadj.rds
deprecated/ipumsi_00002.dta/ipumsi_00002.dta
deprecated/freg_tomatch.csv
deprecated/freg_matched.csv
